<div class="container">
  <h3 class="col-3 text-center mb-5", style="background-color: #FFE4E1">管理者ログイン</h3>
    <div class="row">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group ml-5">
          <%= f.label "メールアドレス", class: "col-5 mr-3" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "col-6" %>
        </div>

        <div class="form-group ml-5">
          <%= f.label "パスワード", class: "col-5 mr-3" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-6" %>
        </div>

        <div class="ml-5 my-5">
          <%= f.submit "ログイン", class: "btn btn-sm btn-primary" %>
        </div>
      <% end %>
    </div>
</div>