<div class="container">
  <div clas="row">
    <h5>会員一覧</h5>
    <table class="table">
       <thead>
         <tr class="table-secondary">
           <th>会員ID</th>
           <th>氏名</th>
           <th>メールアドレス</th>
           <th>ステータス</th>
         </tr>
       </thead>
       <tbody>
         <% @customers.each do |customer| %>
         　<td><%= customer.id %></td>
         　<td><%= customer.last_name %><%= customer.first_name %></td>
         　<td><%= customer.email %></td>
         　<% if customer.deleted_flag == true %>
         　<td class="text-secondary">退会</td>
         　<% else %>
         　<td class="text-success">有効</td>
         　<% end %>
         <% end %>
       </tbody>
    </table>
    <%= paginate @customers %>
  </div>
</div>