<div class="container">
  <div class="mb-5 col-4 text-center", style="background-color: #FFE4E1">
    <h4><%= @customer.last_name+@customer.first_name %>さんの会員詳細</h4>
  </div>

  <div class="row mx-5">
    <table class="table mx-5">
      <tbody>
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name + "　" + @customer.first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.last_name_kana + "　" + @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.post_number %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <% if @customer.deleted_flag == true %>
              <b class="text-muted">退会</b>
            <% else %>
              <b class="text-success">有効</b>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success my-3  offset-2" %>
    <%=link_to"注文履歴一覧を見る", admin_orders_path, class: "btn btn-primary my-3 offset-2"%>
  </div>
</div>